<?xml version="1.0"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">


  <servlet>
    <servlet-name>simple</servlet-name>
    <servlet-class>com.tmall.top.SimpleWebSocketServlet</servlet-class>
    <!--<init-param>
        <param-name>bufferSize</param-name>
        <param-value>10485760</param-value>
    </init-param>-->
  </servlet>
  <servlet>
    <servlet-name>polling</servlet-name>
    <servlet-class>com.tmall.top.PollingWebSocketServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>frontend</servlet-name>
    <servlet-class>com.tmall.top.FrontendWebSocketServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>backend</servlet-name>
    <servlet-class>com.tmall.top.BackendWebSocketServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>simple</servlet-name>
    <url-pattern>/simple</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>polling</servlet-name>
    <url-pattern>/polling</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>frontend</servlet-name>
    <url-pattern>/frontend</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>backend</servlet-name>
    <url-pattern>/backend</url-pattern>
  </servlet-mapping>
  

</web-app>